 
  /*Google font*/
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Tinos:wght@700&display=swap');

  body{
    margin: 0;
    font-size: 16px;
  }
  *{
    margin: 0;
    padding: 0;
    outline: none;
  }
  a{
    text-decoration: none!important;
  }
  
.header,
.home-section{
    background-color: #d70d35;
}

#mybtn1:hover,
#mybtn1{
    color:#d70d35;
}
  .header .navbar.navbar-light .navbar-brand{
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color:#fff;
    font-family: 'Tinos', serif;
    letter-spacing: 2px;
  }
  .header .navbar.navbar-light .navbar-brand span{
    font-size: 12px;
    letter-spacing: 0;
  }
  #mybtn1{
    background-color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 50px;
    padding:  12px 36px;
    border: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  #mybtn1:focus{
    box-shadow: none;
  }
  #mybtn1::before{
    content:'';
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    background-color: rgba(0, 0, 0, 0.1);
    height: 100%;
    z-index: -1;
    transition: all 0.6s ease;
  }
  #mybtn1:hover::before{
    width: 100%;
  }
  .header{
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  .header .navbar{
    padding: 0;
  }
  .header .navbar #collapsibleNavbar .nav-item .nav-link{
    color: #ffffff;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 600;
    padding: 20px 15px 20px;
    line-height: 26px;
    opacity: 0.6;
  }
  .header .navbar #collapsibleNavbar .nav-item .nav-link.active{
    opacity: 1;
  }

  /*Home-page*/

  .home-section{
    padding: 250px 0 200px;
    position: relative;
    z-index: 1;
    overflow: hidden;
  }
  .home-section::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    height: 112px;
    background-image: url("../img/shape-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    z-index: -1;
  }
  
  .home-section .home-content h1{
    font-size: 55px;
    color: #ffff;
    font-weight: 700;
    line-height: 60px;
    margin: 0;
  }
  .home-section .home-content p{
    color:#fff;
    font-size: 18px;
    margin-top: 20px;
    line-height: 28px;
    margin-bottom: 30px;
  }

.home-section .home-img img{

  max-width: 400px;
  width: 100%;
  position: absolute;
  left: 150px;
  top:-50px;
  animation: productani01 5s linear infinite;
}
@keyframes productani01{
  0%, 100%{
    transform: translateY(15px);
  }
  50%{
    transform: translateY(-15px);
  }
}
.home-section .bg-shapes div{
  position: absolute;
  opacity: 0.3;
}
.home-section .bg-shapes div:nth-child(1){
  height: 100px;
  width: 100px;
  top: 19%;
  left: 20%;
  border-radius: 50%;
  background-color: #fff;
  animation: shapeani01 5s linear infinite;
}
@keyframes shapeani01{
  0%, 100%{
    transform: translateX(0px);
  }
  50%{
    transform: translateX(50px);
  }
}

.home-section .bg-shapes div:nth-child(2){
  height: 80px;
  width: 80px;
  top: 60%;
  left: 60%;
  background-color:transparent;
  border: 5px solid #ffffff;
  animation: shapeani02 9s linear infinite;
}
@keyframes shapeani02{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
.home-section .bg-shapes div:nth-child(3){
  height: 60px;
  width: 60px;
  top: 15%;
  left: 80%;
  background-color: transparent;
  border: 5px solid #fff;
  animation: shapeani02 7s linear infinite;
}
.home-section .bg-shapes div:nth-child(4){
  height: 200px;
  width: 200px;
  top: 40%;
  left: calc(100% - 100px);
  background-color: #fff;
  border-radius: 50%;
  animation: shapeani01 7s linear infinite;
}
.home-section .bg-shapes div:nth-child(5){
  height: 150px;
  width: 150px;
  top: 40%;
  left: calc(0% - 50px);
  background-color: transparent;
  border: 5px solid #fff;
  animation: shapeani02 7s linear infinite;
}